body{
    background-color: rgb(63, 63, 63); 
}
p {
    color: white;
}
h1 {
    color: rgb(255, 230, 0);
}
h2 {
    color: rgb(255, 230, 0);
    background-color: black;
}
.formula{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
p.definition{
    border:1px
    solid white; 
    padding:
    10px;
}
